.imageCard {
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageCard:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto;
    display: block;
}